<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="100" name="Suite" parallel="methods" data-provider-thread-count="100">
    <test name="FirstTest" thread-count="5" parallel="instances">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="axa.tests.AutoversicherungsTestWithMap"/>
        </classes>
    </test> <!-- First Test -->

</suite> <!-- Suite -->